<div class="parallax-container">
  <div class="parallax-bg"></div>
  <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">Piloti MotoGP</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">
                  <a class="nav-link" href="/">Home</a>
                  <a class="nav-link" href="/italiani">Italiani</a>
                  <a class="nav-link" href="/spagnoli">Spagnoli</a>
                  <a class="nav-link" href="/francesi">Francesi</a>
              </div>
          </div>
      </div>
  </nav>
</div>
<div class="piloti-container">
    <div *ngFor="let pilota of piloti" class="pilota">
      <img [src]="pilota.image" alt="{{ pilota.nome }}">
      <h5 class="mt-3">{{ pilota.nome }}</h5>
      <p class="mb-2">Altezza: {{ pilota.altezza }} cm</p>
      <p class="mb-2">Peso: {{ pilota.peso }} kg</p>
      <p>Squadra: {{ pilota.squadra }}</p>
    </div>
  </div>
  