doctype html
html
    head
        title Ciao Mondo
        link(rel='stylesheet', href='/css/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
body
    header.header
        h1 ciao mondo
    article.container Questo sito parla del mondo