/* styles.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://images7.alphacoders.com/132/1324579.png') center/cover no-repeat fixed;
    background-color: #f8f9fa;
    overflow: hidden;
  }
  
  .navbar {
    background-color: #343a40;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    /* Aggiungi altri stili della navbar se necessario */
  }
  
  .navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  .navbar-toggler-icon {
    background-color: #ffffff;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .nav-link {
    color: #ffffff;
    margin-right: 20px;
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #ffc107;
  }
  