<div class="parallax-container">
    <div class="parallax-bg"></div>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-link" routerLink="/">Home</a>
          <a class="nav-link" routerLink="/italiani">Italiani</a>
          <a class="nav-link" routerLink="/spagnoli">Spagnoli</a>
          <a class="nav-link" routerLink="/francesi">Francesi</a>
        </div>
      </div>
    
  
    <div class="home-container">
      <h1>Benvenuto nella MotoGP</h1>
      <p>Scopri i migliori piloti, le squadre e le emozioni della MotoGP.</p>
      <p>Esplora la sezione dedicata agli <a routerLink="/italiani">Italiani</a>, agli <a routerLink="/spagnoli">Spagnoli</a>,
        e ai <a routerLink="/francesi">Francesi</a>.</p>
  
      <!-- Aggiunta della moto in movimento -->
      <img src="assets/finish.png" alt="Motorcycle" class="motorcycle">
    </div>
  </div>
  